body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  font-size: 14px;
}
* {
  color: #a7afdc;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 14px;
}
